<div class="sell">
  <h2>Emagreça, ganhe massa muscular e melhore sua saúde com <p class="sell-title">Jéfferson Pinho</p></h2>
  <div class="social-media-box">
    <ul>
      <li><a href="#"><img src="assets/img/whatsapp.png" class="social-media" alt="whatsapp"></a></li>
      <li><a href="#"><img src="assets/img/instagram.png" class="social-media" alt="instagram"></a></li>
      <li><a href="#"><img src="assets/img/facebook.png" class="social-media" alt="facebook"></a></li>
    </ul>
  </div>
</div>
