<div class="sell">
  <h2>Emagreça, ganhe massa muscular e melhore sua saúde com <p class="sell-title">Jéfferson Pinho</p></h2>
  <!-- <div class="social-media-box">
    <ul>
      <li><a href="#"><fa-icon  id="whatsapp" [icon]="faWhatsapp" ></fa-icon></a></li>
      <li><a href="#"><fa-icon id="instagram" [icon]="faInstagram" ></fa-icon></a></li>
      <li><a href="#"><fa-icon id="telegram" [icon]="faTelegram" ></fa-icon></a></li>
    </ul>
  </div> -->
  <div class="wrapper">

    <a href="https://api.whatsapp.com/send?phone=5571986130129" target="_blank">
      <div class="button">
        <div class="icon">
        <fa-icon  id="whatsapp" [icon]="faWhatsapp"></fa-icon>
        </div>
        <span>Whatsapp</span>
      </div>
    </a>

    <a href="https://www.instagram.com/allnutjeff/" target="_blank">
      <div class="button">
        <div class="icon">
          <fa-icon  id="instagram" [icon]="faInstagram"></fa-icon>
        </div>
        <span>Instagram</span>
      </div>
    </a>

    <a href="https://t.me/AllNutJeff" target="_blank">
      <div class="button">
        <div class="icon">
          <fa-icon  id="telegram" [icon]="faTelegram"></fa-icon>
        </div>
        <span>Telegram</span>
      </div>
    </a>

  </div>
</div>
