<div class="objetive">
<app-path-div></app-path-div>
  <div class="objetive-list">
    <h2>Emagreça</h2>
    <p>Emagreça de maneira rápida, saudável e gostosa com a alimentação certa para o seu corpo.</p>
  </div>
  <div class="objetive-list">
    <h2>Ganhe Massa Muscular</h2>
    <p>Faça seu treinamento render muito mais com uma alimentação focada em hipertrofia muscular.</p>
  </div>
  <div class="objetive-list">
    <h2>Alimente-se melhor</h2>
    <p>Descubra como ter uma alimentação mais saudável sem abrir mão do sabor e da praticidade.</p>
  </div>
</div>
