<div class="sell-book">
  <div class="path-box">
    <div class="path">

    </div>
  </div>
  <h2>Você "Alimenta" sua ansiedade?</h2>
  <div class = "book-container">
    <div>
    <img class="book" src="assets\img\book-image.png" alt="">
    </div>
    <div>
      <ul>
        <li>⚹ Definição biológica</li>
        <li>⚹ Meditação guiada</li>
        <li>⚹ Mingdful Eating</li>
        <li>⚹ Educação Emocional</li>
        <li>⚹ Nutrição e ansiedade</li>
        <li>⚹ Receitas exclusivas</li>
      </ul>
    </div>
  </div>
  <div class="book-plus">
    <p>Livro Digital</p>
    <p>+Ebook com receitas exclusivas</p>
    <button class="btn-buy"><a href="https://sun.eduzz.com/1301606?a=62588474">Adquira já!</a></button>
  </div>
</div>
