.path-box{
  position: relative;
  top: -200px;
}

.path{
  position: absolute;
  width: 100%;
  height: 200px;
  clip-path: polygon(133% 210%, 89% 69%, 108% 147%, 100% 48%, -42% 70%);
  background-color: #068687;
}
