<div class="introduction">
  <app-path-div></app-path-div>
  <section class="container">
    <div class="image"></div>
    <div class="introduction-text">
      <p>Pode me chamar de Jéff! Eu sou baiano, criativo e busco trabalhar através da nutrição, o equilíbrio na alimentação, descomplicando situações cotidianas, te auxiliando a conquistar seus objetivos e promovendo saúde de uma maneira inovadora!</p>
      <p>Bacharel em Nutrição pela Universidade Católica do Salvador (UCSAL), Pós Graduando em Nutrição Clínica e Esportiva e em Vigilância Sanitária e qualidade de alimentos, ambas pela faculdade Descomplica; Coautor em e-books de ensino e aprendizado a distância (EAD) e presencial e em livros físicos.</p>
    </div>
  </section>
</div>
